.container {
  display: flex;
  justify-content: space-evenly;
  height:100%;
  width:100%;
  
}

.panels {
  display: flex;
  flex-direction: column;
  
  padding: 3px;
  justify-content: space-evenly;
  width: 300%;
}


#P1 {
 
  border: 3px solid;
  padding: 3px;
  justify-content: space-evenly;
  
}

#P2 {

  border: 3px solid;
  padding: 3px;
  justify-content: space-evenly;
}

#P3 {
  
  border: 3px solid;
  padding: 3px;
  justify-content: space-evenly;
}

#R1 {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border: 3px solid;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;

  border: 2px solid;
  background-color: aqua;
}
.navbar:hover {
  background-color: aquamarine;
  cursor: wait;
}

.Link {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}
.Link:hover {
  font-weight: 100;
  font-size: x-large;
}
