.container {
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  height:auto;
  width:auto;
  
}

.panels {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  border: 3px solid grey;
  border-radius: 5px;
  padding: 3px;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  height: 400px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}


.search {
  display: flex;
  justify-content: center;
  background-color: green;
  border: 2px solid black;
  border-radius: 4px;
}

.navbar {
  color: white;
  display: flex;
  flex-direction: row;
  border: 2px solid;
  background-color: black;
}
.navbar:hover {
  background-color: green;
  cursor: wait;
}
.links {
  display: flex;
  width: 100%;
  justify-content: right;
  
}

#nology {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  margin: 0px;
  margin-bottom: 0px;
  width: 200px;

  background-color: green;
}
.Link {
  font-style: bold ;
  display: inline-flex;
  align-items: flex-end;
  margin-left: 30px;
  margin-right: 30px;
  
}
.Link:hover {
  font-weight: 100;
  font-size: x-large;
}
a {
  color: white;
}


h1 {
  display: flex;
}

.panels:hover {
  box-shadow: 10px 10px 10px black;
}
button:hover {
  cursor: pointer; 
}

.search:hover {
  height: 30px;
}

img {
  height: 200px;
  width: 200px;
}